@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --white: #faf8f8;
    --light: #f0ebeb;
    --black: #212121;
    --blue: #3988d8;
    --dark: #22405e;
    --green:#55eb7a;
    --yellow:#ffd24c;
    --grey:#555c66;
    --red:#e44646;
    --nav-load-time: 300ms;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
}
a:link{
    columns: var(--black);
}
body{
    background-color: var(--white);
    height: 100%;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
h1{
    font-weight: 700;
    font-size: 24pt;
    color: var(--black)!;
}
h4{
    font-weight: 700;
    color: var(--blue);
}

p{
    font-weight: 300;
}

.navbar img{
    cursor: pointer;
    height: 70px;
    width: 70px;
}
.navbar-content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 15px 0;
    background: #1b1b1b;
    opacity: 1;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 10px 0;
    background: #1b1b1b;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.navbar .navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu{
    display: inline-flex;
    text-transform: uppercase;
    gap: 1rem;
}

.to-top, .to-top a{
    color: var(--white);
}
.to-top{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    text-decoration: none;
    font-size: 30px;
    background-color: #1b1b1b;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    z-index: 1;
}
.to-top.show{
    display: flex;
}

.menu li a::after{
    content: "";
    position: absolute;
    background-color: #e44646;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.menu li a:hover::after{
    content: "";
    position: absolute;
    background-color: #e44646;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;

}

/*https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535*/

/* Mobile Menu*/
.menu{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a{
    position: relative;
    font-weight: 500;
    color: var(--white);
    display: block;
    padding: 15px 5px;
}

.toggle{
    order: 1;
    font-size: 20px;
}
.banner{
    height: 100%;
    background: url("images/banner.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .banner-text{
    position: relative;
    width: 100%;
    top: 28%;
    animation: slideIn 1s ease-in;
  }
  .intro,.subtitle{
    font-family: "Open Sans", sans-serif;
    font-size: 5em;
    text-shadow: #212121;
    line-height: 0.9em;
    font-weight: 900;
    color: var(--white);
  }
  .intro{
    padding: 2rem;
    animation-delay: 1s;
  }
  .subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    width: fit-content;
    padding-bottom: 5%;
    padding: 2rem;
  }
  .subtitle hr{
    background-color: greenyellow;
    width: 100%;
  }

  @keyframes slideIn {
    0%{
        transform: translateX(-30px);
        opacity: 0%;
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
    
  }
  @media (min-width: 868px) {
    .intro, .subtitle{
        padding-left: 25rem;
    }
    .intro{
        font-size: 8em;
    }
  }
.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }
  .navbar.sticky .icon.cancel-btn{
    top: 10px;
  }
  /* Mobile Menu*/
  @media (max-width: 868px) {
    body.disabledScroll{
      overflow: hidden;
    }
    .icon{
      display: block;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
      z-index: 9;
    }
    .icon.cancel-btn{
      display: none;
    }
    .icon.cancel-btn.show{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu{
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background: #1b1b1b;
      display: block;
      text-align: center;
      clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
      transition: all 0.3s ease;
    }
    .navbar.sticky .menu{
      clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
    }
    .navbar .menu.active{
      clip-path: circle(75%);
    }
    .navbar .menu li{
      margin-top: 30px;
    }
    .navbar .menu li a{
      font-size: 20px;
    }
  }

.about{
    background-color: var(--blue);
    margin: 0;
    height: fit-content;
    width: 100%;
    text-align: center;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

    .about-box{
        margin: 0;
        width: fit-content;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 1rem;
        height: fit-content;
        background-color: var(--white);
    }
    .left-pane{
        display: flex;
        width: 100%;
        padding: 10px 30px;
        height: fit-content;
    }
    .head{
        display: inline-block;
        text-align: center;
        text-decoration: none;
        padding-bottom: 30px;
        margin: 0;
        line-height: 1.3;
    }

    .info{
        display: inline-block;
        justify-content: left;
        text-align: left;
        text-decoration: none;
        line-height: 2.5;
        font-weight: 400;
    }
    .info img{
        margin-right: 10px;

    }

    .bar{
        width: 100%;
        padding: 15px 0;
    }
    .bar hr{
        background-color:  #1b1b1b;
    }
    .profile{
        height: fit-content;
        display: flex;
    }
    .profile img{
        height: 100%;
        width: 320px;
        object-fit: cover;
    }
    @media (min-width: 868px) {
        .about-box{
            flex-direction: row;
            padding: 0;
        }
        .left-pane{
            width: 30rem;
        }
    }

.career{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    background-color: var(--white);
    font-size: 16px;
    padding: 5rem 0;
    text-decoration: none;
}
.career h1{
    text-align: center;
}
.career-text{
    text-align: justify;
    line-height: 2.5;  
    padding: 1rem;
}

@media (min-width: 868px) {
    .career-text{
        width: 50rem;
    }
}

.experience{
    background-color: var(--green);
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding-left: 12rem;
    padding-right: 12rem;
}
    .grid-container {
        display: grid;
        padding-top: 5%;
        width: 100%;
        width: 50rem;
        grid-row-gap: 35px;
        grid-column-gap: 10px;
        grid-template-columns: 0.5fr 1fr;
        flex-wrap: wrap;
    }
    .r1, .r2, .r3, .r4{
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 100px;
        background-color: var(--white);
    }
    .r1-2,.r2-2,.r3-2,.r4-2{
        padding: 8%;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        background-color: var(--white);
    }
    @media (max-width: 868px) {
        .experience{
            padding: 5rem;
        }
        .grid-container{
            grid-template-columns: auto;
            row-gap: 0;
            width: 100%;
        }
        .r1, .r2, .r3, .r4{
            background-color: transparent;
        }
        .r1-2,.r2-2,.r3-2,.r4-2{
            margin-bottom: 1em;
            padding: 2rem;
        }
    }

.skills{
    background-color: var(--yellow);
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding-left: 10rem;
    padding-right: 10rem;
}
    .grid-container-2{
        display: grid;
        margin-top: 50px;
        grid-row-gap: 50px;
        grid-column-gap: 100px;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    @media (max-width: 868px) {
        .grid-container-2{
            grid-template-columns: auto;
        }
    }
    .s1-img,.s2-img,.s3-img,.s4-img,.s5-img,.s6-img{
        height: 70px;
        width: 70px;
        border-radius: 35px;
        padding: 10px;
        background-color: var(--black);
        animation: enlarge 1.5s ease-in alternate forwards infinite;
    }
    @keyframes enlarge{
        0%{
            transform: scale(80%);
        }
        100%{
            transform: scale(100%);
        }
    }
    .s1,.s2,.s3,.s4,.s5,.s6{
        display: flex;
        width: 300px;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .s1-item-2,.s2-item-2,.s3-item-2,.s4-item-2,.s5-item-2,.s6-item-2{
        padding-left: 15px;
        text-align: justify;
    }

.timeline-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding-bottom: 100px;
    padding-top: 60px;
}

.timeline-content h1{
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;

}

.timeline-content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;

}

.timeline-content h2{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

.educ-timeline{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;

}

.educ-timeline ul li:not(.timeline-content-bullet){
    padding: 20px;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.timeline-content-ul{
    padding: 20px;
}
.timeline-content-bullet{
    color: var(--white);
    list-style: outside;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
}

.educ-timeline ul li:last-child{
    margin-bottom: 0;
}

@media only screen and (min-width:768px){
    .educ-timeline::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        background-color: var(--blue);
        left: 50%;
        transform: translateX(-50%);
    }
    .educ-timeline ul li:not(.timeline-content-bullet){
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .educ-timeline ul li:nth-child(odd):not(.timeline-content-bullet){
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-top-right-radius: 0;
    }
    .educ-timeline ul li:nth-child(even):not(.timeline-content-bullet){
        float: right;
        clear: left;
        transform: translateX(30px);
        border-top-left-radius: 0;
    }
    .educ-timeline ul li:not(.timeline-content-bullet)::after{
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: var(--blue);
        border-radius: 100%;
        top: 0;
    }
    .educ-timeline ul li:nth-child(odd)::after{
        transform: translate(50%,-50%);
        right: -30px;
    }
    .educ-timeline ul li:nth-child(even)::after{
        transform: translate(-50%,-50%);
        left: -30px;
    }
    .educ-timeline ul li:not(.timeline-content-bullet):hover::after{
        background-color: var(--yellow);
        transition: 0.3s;
    }
    .timeline-content .timeline-date{
        color: var(--black);
        font-weight: 500;
        position: absolute;
        top: -35px;
    }
}
.educ{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}

.certs{
    background-color: var(--red);
    justify-content: center;
    text-align: center;
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
}

    .cert-details{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        width: fit-content;
        text-align: justify;
        align-items: left;
    }
    .cert-details li{
        list-style: outside;
        line-height: 25px;
    }

.others{
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    height: fit-content;
    width: 100%;
}

    .head-1{
        text-decoration: none;
        justify-content: center;
        align-items: center;
    }

    .lang-header{
        display: flex;
        gap: 1rem;
        padding-bottom: 3vh;
    }
    .lang{
        text-align: left;
        width: 100%;
        height: fit-content;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18pt;
        display: flex;
        flex-direction: column;
    }
    .eng,.fil,.ceb{
        padding-bottom: 0.8rem;
    }
    .progress{
        width: 100%;
        height: 30px;
        background: var(--light);
        border-radius: 20px;
        overflow: hidden;
    }
    .progress-fill-1,.progress-fill-2,.progress-fill-3{
        position: relative;
        width: 0%;
        height: 100%;
        border-radius: 20px;
    }
    .progress-fill-1{
        animation: fill-1 3s ease-in alternate;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
    }
    .progress-fill-2{
        animation: fill-2 3s ease-in alternate;
        animation-delay: 0.4s;
        animation-iteration-count: infinite;
    }
    .progress-fill-3{
        animation: fill-3 3s ease-in alternate;
        animation-delay: 0.6s;
        animation-iteration-count: infinite;
    }

    @keyframes fill-1{
        0%{
            background-color: #54ad67;
            width: 50%;
        }
        25%{
            background-color: var(--green);
            width: 100%;
        }
    }
    @keyframes fill-2{
        0%{
            background-color: #857957;
            width: 50%;
        }
        25%{
            background-color: var(--yellow);
            width: 100%;
        }
    }
    @keyframes fill-3{
        0%{
            background-color: var(--grey);
            width: 50%;
        }
        25%{
            background-color: var(--blue);
            width: 100%;
        }
    }

    .progress-text{
        color: var(--dark);
        font-size: 16pt;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 40%;
    }
    .footer {
        padding: 2.5rem 2rem;
        display: flex;
        justify-content: flex-start;
        color: var(--white);
        bottom:0;
        left:0;
        width:100%;
        height: fit-content;
        background-color: var(--black);
    }

    